
<div id="title"> Share files for One hour!</div>
 <div class="<%= 'error_message' if flash[:error]%>">
 <%=flash[:error] %>
 </div>
<%=form_for @project, :html => { :multipart => true } do |f| %>

<p >
	<span class="step_1">1. </span>
	<span class="description">Choose a file ( less than 20MB ): </span>
   <%= f.file_field :avatar %>
</p>
<p >
	<span class="step_1">2. </span>
	<span class="description"> Press </span>
   <%= f.submit "Upload",:id=>"upload_button" %>
   <img alt="Loading" id="loading-image" src="/assets/loading.gif" style="display:none;margin-bottom:-13px;">
</p>

   
  <% end %>
  <%if @projects.present?%>
<hr>
  <p>
	<strong>Your last upload </strong>
</p>
  



<table width="100%">
  <tr>
    <th align="left">Filename</th>
    <th align="left">Download url</th>
  </tr>
  <%@projects.each do |project|%>
  <tr class="<%= cycle('even', 'odd') -%>">
    <td><%=project.avatar_file_name%></td>
    <td><%=project.get_shorten_url%></td>
  </tr>
  <%end%>
</table>
<%end%>